node_modules/
vendor/
.env
.env.*
!.env.example
.DS_Store
dist/
build/
*.log
.phpunit.result.cache
.php_cs.cache
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/.gitkeep
!storage/app/public/.gitkeep
.vercel
